<!-- <div class="columns">
  <div class="column is-half is-offset-one-quarter" style="text-align: center; margin-top: 50px;">
    <h1>ngrxFire</h1>
      <img src="/assets/ngrx-firebase.png" alt="demo app with ngrx and firebase" width="200px" >
      <hr>
      <div>
        <h1>Howdy, }}</h1>
        <h4></h4>
        <button class="button is-danger">
            <span class="icon">
              <i class="fa fa-google"></i>
            </span>
            <span>Sign In with Google</span>
        </button>
        <button  class="button is-danger">Sign In with Google</button>
        <button >Logout</button>
      </div>
      <hr>
      <div>
        <i class="fa fa-spin fa-refresh"></i>
          <h2></h2>
          <h4>Votes: <span class="tag is-info is-large"></span></h4>
          <hr>
          <button class="button is-success">Upvote</button>
          <button class="button is-danger">Downvote</button>
        
    </div>
    <button class="button is-info">Load Post from Firebase</button>
    <hr>
  </div>
</div> -->

<router-outlet></router-outlet>